/* configura a paleta de cores da aplicação */

:root {
  --orange: #ff7b31;
  --white: #ffffff;
  --black: #09090a;
  --gray: #303037;
}

/* define propriedades básicas para os valores padrões */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

/* estilização padrão */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  height: 100vh;
  width: 100vw;

  padding: 80px 95px;

  background-color: var(--black);
  overflow-x: hidden;
}

#welcome-message {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 15px;

  color: var(--white);
  text-align: center;
}

#welcome-message h1::after {
  content: "Comece a criar novos hábitos agora mesmo :D";
}

#welcome-message p {
  opacity: 0.7;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 700px) {
  body {
    padding: 40px;
  }

  #welcome-message h1::after {
    content: "Crie novos hábitos :D";
    font-size: 25px;
  }

  #welcome-message p {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  height: 40px;
  width: 15px;

  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--orange);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;
  outline: none;
}

input {
  appearance: none;
  outline: none;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
