#choose-language {
  position: absolute;

  z-index: 4;

  top: 50%;
  transform: translateY(-50%);

  display: none;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  padding: 50px;

  border-radius: 30px;

  color: var(--white);
  background-color: var(--gray);
}

#choose-language h2 {
  font-weight: 700;
  font-size: 25px;
}

#choose-language div {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

#choose-language div .language {
  cursor: pointer;
  font-size: 21px;

  transition: all 100ms ease-in;
}

#choose-language div .language:hover {
  opacity: 0.7;
}

#choose-language div .selected {
  color: var(--orange);
}

@media (max-width: 700px) {
  #choose-language div .language {
    font-size: 18px;
  }
}
