header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: var(--white);
}

header .logo {
  height: 82px;
}

header #today {
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

header #today span {
  color: var(--orange);
  font-weight: 800;
}

@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  header #today {
    font-size: 26px;
  }
}