header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	color: var(--white);
}

header .logo {
	height: 82px;
}

header div {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 30px;
}

header div #today {
	font-size: 36px;
	font-weight: 700;
	font-family: "Inter", sans-serif;
}

header div #today span {
	color: var(--orange);
	font-weight: 800;
}

header div #open-lang-selector-form {
	width: 46px;
	height: 46px;

	font-size: 24px;

	border-radius: 50%;

	color: var(--orange);
	border: 2px solid var(--orange);
	background-color: transparent;

	transition: all 200ms ease-in;
}

header div #open-lang-selector-form:hover {
	opacity: 0.7;
}

@media (max-width: 700px) {
	header {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	header div #today {
		font-size: 26px;
	}

	header div #open-lang-selector-form {
		width: 38px;
		height: 38px;

		font-size: 20px;
	}
}
