/* estilos padrão do formulário */

#new-habit-form {
  position: absolute;
  width: 760px;
  padding: 40px 70px;
  gap: 30px;

  top: 50%;
  transform: translateY(-50%);

  z-index: 3;

  display: none;
  flex-direction: column;
  border-radius: 36px;
  justify-content: center;
  align-items: center;

  color: var(--white);
  background-color: var(--gray);
}

/* preenchimento de informações básicas */

#new-habit-form .habit-info-view {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 50px;
}

#new-habit-form .habit-info-view .habit-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;

  height: 120px;
}

#new-habit-form .habit-info-view .habit-icon label {
  font-size: 21px;
  font-weight: 500;
}

#new-habit-form .habit-info-view .habit-icon button {
  width: 80px;
  height: 80px;

  border: 2px solid #ff7b31;
  border-radius: 16px;

  background-color: transparent;
}

#new-habit-form .habit-info-view .habit-icon button span {
  color: white;
  font-size: 48px;
}

#new-habit-form .habit-info-view .habit-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 15px;
}

#new-habit-form .habit-info-view .habit-name label {
  font-size: 21px;
  font-weight: 500;
}

#new-habit-form .habit-info-view .habit-name input {
  width: 350px;
  padding: 10px;

  color: var(--white);
  border: 2px solid #ff7b31;
  border-radius: 15px;

  background-color: transparent;
}

/* seleção de ícone do formulário */

#new-habit-form .habit-icon-view {
  width: 100%;

  display: none;
  flex-direction: column;

  gap: 30px;
}

#new-habit-form .habit-icon-view .header {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-habit-form .habit-icon-view .header p {
  font-size: 21px;
  font-weight: 500;
}

#new-habit-form .habit-icon-view .header input {
  width: 250px;
  height: 100%;

  padding: 5px 45px;

  color: white;
  border: 2px solid #ff7b31;
  border-radius: 100px;

  background: url("../assets/images/icons/magnify.svg") no-repeat left;
  background-position: 16px;
  background-size: 18px;
}

#new-habit-form .habit-icon-view .icons-list {
  height: 170px;
  overflow-y: scroll;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

#new-habit-form .habit-icon-view .icons-list span {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;

  cursor: pointer;

  transition: all 100ms ease-out;
}

#new-habit-form .habit-icon-view .icons-list span:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/* botões do formulário */

#new-habit-form .buttons {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 30px;
}

#new-habit-form .submit-button {
  width: 60%;
  height: 45px;
  gap: 10px;

  font-size: 16px;
  font-weight: 700;

  border-radius: 30px;

  background-color: var(--orange);

  transition: all 100ms ease-in;
}

#new-habit-form .submit-button::before {
  /* content: "Confirmar alterações"; */
}

#new-habit-form .submit-button:hover {
  opacity: 0.7;
}

#new-habit-form .cancel-button {
  width: 40%;
  height: 45px;
  gap: 10px;

  font-size: 16px;
  font-weight: 700;

  border-radius: 30px;
  color: var(--orange);

  border: 2px solid var(--orange);
  background-color: transparent;

  transition: all 100ms ease-in;
}

#new-habit-form .cancel-button::before {
  /* content: "Cancelar"; */
}

#new-habit-form .cancel-button:hover {
  opacity: 0.7;
}

@media (max-width: 700px) {
  #new-habit-form {
    width: 90vw;
    padding: 30px;
  }

  #new-habit-form .habit-info-view {
    flex-direction: column;
  }

  #new-habit-form .habit-info-view .habit-name {
    width: 100%;
  }

  #new-habit-form .habit-info-view .habit-name input {
    width: 100%;
  }

  #new-habit-form .buttons {
    justify-content: center;
    gap: 15px;
  }

  #new-habit-form .buttons button {
    gap: 0px;
    width: 50%;
  }

  #new-habit-form .buttons button::before {
    /* content: ""; */
  }
}
